/* Universal Styles */

html {
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1.5rem;
}

p {
font-size : 1.2rem;
}

img {
  width: 100%;
}

nav .container-fluid {
background-color: white;
}

/* Bootstrap Overrides */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
}

.btn-primary {
  width: 160px;
  padding: 1.3rem 0;
  border: 0;
  margin-top: 2.8rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: .5s box-shadow;
}

.btn-primary:hover {
  background-color: #399bd1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

/* Slick Overrides */

.slick-slide {
  outline: none;
}

/* Navigation */

.navbar {
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar-nav {
  padding-top: 1.5rem;
}

.navbar-collapse.collapse {
  padding: 0;
}
@media only screen and (max-width: 767px) {
  .navbar-nav {
    padding-top: 0;
  }
}

/* Jumbotron */

.jumbotron {
  height: 44rem;
  padding-top: 10rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.background-mc {
  background-image: url("../images/mc-travailler-chateau.jpg");
}

.background-castle {
  background-image: url("../images/sois-belle-tais-toi.png");
}

.background-fort {
  background-image: url("../images/mc-fort-sweeden.jpg");
}

.background-stairs {
  background-image: url("../images/les-yeux-sans-le-visage-mc.png");
}

.jumbotron h1 {
  font-family: "Monoton", sans-serif;
  font-size: 7.1rem;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
}

.relative-wrapper {
  position: relative;
  top: -10rem;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

@media only screen and (max-width: 550px) {
  .jumbotron h1 {
    font-size: 3.4rem;
  }
  .jumbotron p {
    font-size: 1.7rem;
  }
}

/* Project Image Containers */

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.7;
  transition: transform .5s,
              opacity .5s;
  transition: transform .5s,
              opacity .5s;
}

.image-container img:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* Featured Project */

.featured-project {
  margin-top: -7rem; /* To account for relatively positioned button */
}

.featured-project .image-container {
  height: 19rem;
  margin-top: 20px; /* To match bootstrap header margins */
}

.categories h3 {
  color: #399bd1;
}

.categories ul {
  color: rgba(0, 0, 0, 0.7);
}

/* Projects */

.project {
  margin-bottom: 5.85rem;
}

.project .image-container {
  height: 13.5rem;
  overflow: hidden;
}

/* Help */

.help {
  padding: 5.2rem 0;
  background-color: #f3f3f3;
  text-align: center;
}

.help strong {
  display: inline-block;
  margin-bottom: 1.4rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.help p {
  max-width: 42rem;
  margin: auto;
}

/* Begin of Footer*/
footer {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     align-content: center;
    border-top: 0.5px solid #c0c0c0;
  }

footer a {
  font-size: 1.1rem;
  color: black;
}
footer p {
  font-size: 1.5rem;
  weight: 700;
}

.copyright {
  margin-left: 1.5rem;
  font-weight: 500;
}
span {
  display: flex-end;
  flex-direction: row;
    margin-right: 1rem;
}

@media only screen and (max-width: 767px) {

span  {
      display: none;
  }
}
